:root {
  --primary: blue;
  --light: white;
  --dark: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Helvetica', sans-serif;
}

.logo{
  position: relative;
  left: 25px;
}
.header-container{
  width: 100%;
}
.header {
  position: fixed;
  top: 0px;
  background-color:transparent;
  width: 100%;
  height: 15vh;
  background-image: url(assets/header.png);
}

.hamburger {
  display: block;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  padding-top: 5px;
  padding-right: 5px;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  height: 10px;
}

.hamburger span {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 33px;
  height: 4px;
  position: absolute;
  background-color: var(--light);
  border-radius: 6px;
  z-index: 1;
  transition: 0.4s;
}

.hamburger span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--primary);
  margin: 0;
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -8px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active:hover span {
  background-color: var(--primary);
}

.nav {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 8px;
}

.nav ul li:hover{
  margin: 0 8px;
  background-color: #ee7f7f;
  border-radius: 8px;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@media (min-width: 767px) {
  .hamburger {
    display: none;
  }
}


@media (max-width: 767px) {
  .nav {
    margin-top: 2.5rem;
    display: none;
    position: absolute;
    width: 100%;
    height: 60vh;
    background-color: #4749e4;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 20%;
    z-index: 9999;
  }

  .nav.active {
    display: block;
  }

  .nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .nav li {
    margin: 10px 0;
  }

  .nav a {
    font-size: 14px;
    padding: 8px 0;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
  }
  

  .hamburger span {
    width: 25px;
    color: white;

  }
}



.btn{
  color: aliceblue;
  text-decoration:solid;
  border-radius: 13px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  font-family:'Times New Roman', Times, serif;
  border: none;
  background-color: transparent;
  line-height: 24px;
  outline: none;
  white-space: nowrap;
  padding: 0  27 65 25px;
  font-weight: 777;
  text-transform: uppercase;
  /*Transistion property*/
  transition-property: transform;  
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.btn:hover{
  transform: translateY(-5px);
  background-color: #ac4141;
}
.access{
  position: absolute;
  margin-top: -1.5rem;
  display: flex;
  justify-content: flex-end;
  right: 0;
}

.access a {
  text-decoration: none; 
}

.register {
  display: block;
}

@media (max-width: 767px) {
  .register {
    display: none;
  }
}




.btn-main {
  margin-top: -10px;
  align-items: center;
  color: aliceblue;
  background-color: transparent;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.rem;
  outline: none;
  white-space: nowrap;
  padding: 0 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  line-height: 35px;
  border: none;
  transition-property: transform;  
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.btn-main:hover {
  transform: translateY(-10px); 
  background-color: #ee7f7f;
}

.mail-icon {
  font-size: 24px;
  width: 20px;
  position: absolute;
  bottom: 29;
  left:-29px ;
  cursor: pointer;
  transition-property: transform;  
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.contact-link {
  display: flex;
  gap: 15px;
  position: absolute;
  color: aliceblue;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .contact-link {
    display: none;
  }
}


.phone-icon{
 font-size: 24px;
  color: aliceblue;
  cursor: pointer;
}
.stats{
  background-size: cover;
  background-repeat: no-repeat;
}

.scroll-1-container {
  position: relative;
  margin-top: 15vh;
}

.scroll-1-container img {
  width: 100%;
  height: auto;
}

.scroll-2-container {
  margin-top: 20px; 
}

.scroll-2-container img {
  width: 100%;
  height: auto;
}


/**********Rectangles Part *********/
.slant-container {
  position: relative;
  height: 60vh;
  overflow: hidden;
  background-color: #5915c8;
}

.red-rectangle {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #5915c8;
}

.red-rectangle.first {
  left: 0;
  width: 10%;
  transform: skew(-70deg);
}

.red-rectangle.last {
  right: 0;
  width: 10%;
  transform: skew(-50deg);
}

.black-rectangle {
  position: absolute;
  top: 0;
  left: 20%;
  width: 70%;
  height: 100%;
  background-color: #100e0d;
  transform: skew(-50deg);
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #6ce4e8; 
  -webkit-text-fill-color: #6ce4e8; 
}

h2 {
  margin: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
  display: inline-block;
}

.highlight {
  display: inline-block;
}

.text-container  {
  font-size: 44px;
}

.text-container h2 {
  font-size: 34px;
}

.text-container h2 span {
  padding: 2px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #6ce4e8;
}


.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon {
  text-align: center;
  margin: 0 20px;
}

.icon img {
  width: 100%; 
  height: 100%;
}

.icon p {
  margin-top: 5px;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.icon-simple {
  width: 40%;
  height: 20%;
  margin-left: 2.5rem;
}

.simple-container img {
  width: 30%;
  height: 30%;
}

.icon-simple p {
  display: flex;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

@media (max-width: 767px) {
  .red-rectangle,
  .black-rectangle {
    display: none;
  }

  .scroll-1-container {
    background-color: black;
    padding: 0 10px;
    
  }

  .slant-container {
    height: 100vh;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    background-color: black;
    text-align: center;
  }

  .text-container{
    margin-top: 2.5rem;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  .icon-row {
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }

  .icon {
    margin: 5px 0;
  }

  .icon img {
    width: 100px;
    height: 50px;
  }

  .icon p {
    font-size: 1.5rem;
    margin-top: 4px;
  }

  .icon-simple img {
    width: 60px;
    height: 50px;
  }

  .icon-simple p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;

  }
}

/**********End Rectangles Part *********/
.instructions-wrapper{
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.instructions-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(./assets/bg.png);
  position: relative;
  width: 100%;
  height: 70vh;
  border-image: url(./assets/bg.png);  box-sizing: border-box;
  background-color: #f5f5f5;
}

.instructions-right-side {
  width: 100%;
}

.instructions-right-side img {
  width: 100%;
  object-fit: cover;
}

.instructions-left-side {
  margin-top: 6.5rem;
  align-items: center;
  text-align: center;
}

.instructions-left-side p {
  font-weight: 500;
  margin-left: 1.5rem;
  font-size: 18px;
  color: black;
  font-family: panton_blackregular;
  letter-spacing: normal;
  line-height: normal;
}

.create-text h3 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.minutes-place h1 {
  font-size: 36px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.more-details h3 {
  font-size: 20px;
  color: #777;
  text-align: center;
}


.footer{
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: aliceblue;
  color: aliceblue;
  font-size: 12px;
  text-align: center;
  
}