*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', 'Helvetica;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.logo{
  position: relative;
  left: 25px;
}
.container{
  width:1350px;
  height:300vh;
  padding:0px;
  
  overflow-x:hidden;
  
}
.header {
  position: fixed;
  top: 0px;
  background-color:transparent;
  width: 100%;
  z-index: 1;
  height: 18vh;
  background-image: url(assets/header.png);
}
.wrapper {
  position: absolute;
  align-items: center;
  bottom: 50px;
  left:40%;
  right:65%
  height: 100vh;
}
.btn{
  color: aliceblue;
  text-decoration:solid;
  border-radius: 13px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  font-family:'Times New Roman', Times, serif;
  border: none;
  background-color: transparent;
  line-height: 24px;
  outline: none;
  white-space: nowrap;
  padding: 0  27 65 25px;
  font-weight: 777;
  text-transform: uppercase;
  /*Transistion property*/
  transition-property: transform;  
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.btn:hover{
  transform: translateY(-5px);
  background-color: #ac4141;



}
.access{
  position: absolute;
  bottom: 30px;
  left: ;
}
.btn-main{
  align-items: center;
  color: aliceblue;
  background-color: transparent;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.rem;
  outline: none;
  white-space: nowrap;
  padding: 0 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  line-height: 35px;
  border: none;
   /*Transistion property*/
   transition-property: transform;  
   transition-duration: 0.3s;
   transition-timing-function: ease;
}
.btn-main:hover{
  transform: translatey(10px); 
  background-color: #ee7f7f;


}
.mail-icon {
  font-size: 24px;
  width: 20px;
  position: absolute;
  bottom: 29;
  left:-29px ;
  cursor: pointer;
   /*Transistion property*/
   transition-property: transform;  
   transition-duration: 0.3s;
   transition-timing-function: ease;
}
.help{
  position: absolute;
  top:23px;
  left: 26%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aliceblue;
}

.phone-icon{
 font-size: 24px;
color: aliceblue;
cursor: pointer;
}
.stats{
  background-size: cover;
  background-repeat: no-repeat;
}
.content{
background-image: url("");
background-size: contain;
margin:150px auto;
width: 100%;
}
.content img{
  max-width: 100%;
  height:auto !important;
  bottom:250px;
  left: 50%;

}

.footer{
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: aliceblue;
  color: aliceblue;
  font-size: 12px;
  text-align: center;
  
}